MvcUI/Service References/ConDmnsServis/DmnsServis1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sifre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Urunler">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UrunlerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UrunlerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UrunGetir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="urunId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UrunGetirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UrunGetirResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiparisOlustur">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siparisler" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiparisOlusturResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiparisOlusturResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Kupon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kisiId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KuponResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KuponResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>